<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_respeaker">

  <link name="respeaker_base">
    <inertial>
      <origin
        xyz="-0.00078082896792734 0.00765742173486017 -0.0042488298301937"
        rpy="0 0 0" />
      <mass
        value="0.00969129410417277" />
      <inertia
        ixx="8.95656300428405E-07"
        ixy="2.67330745809535E-08"
        ixz="-3.84519793580934E-08"
        iyy="4.0421099617056E-07"
        iyz="3.15533542838673E-07"
        izz="7.08282597118018E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 ${pi/2}" />
      <geometry>
        <mesh
          filename="package://stretch_description/meshes/link_respeaker.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba=".13 .13 .16 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.0033 0.0232 -0.0196"
        rpy="0 0 0" />
      <geometry>
        <box size="0.0635 0.0471 0.0367" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.0001 0.0059 -0.0163"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.0070" length="0.0096" />
      </geometry>
    </collision>
  </link>

  <joint
    name="joint_respeaker"
    type="fixed">
    <!-- rpy="   ?   rotate_sound_source_direction    ?   " --> 
    <origin
      xyz="0 1.36992 0.00303572796911382"
      rpy="${pi/2} 0.0 ${pi}" />
    <parent
      link="link_mast" />
    <child
      link="respeaker_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  
</robot>

  

